@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
  font-family: 'Inter';
  font-size: 29px;
  font-style: normal;
  font-weight: 400;
  color: black;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}
.header {
  margin-top: 28px;
}
.header_list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}
.header_link {
  list-style-type: none;
  font-size: 18px;
  text-decoration: none;
}
.main-block {
  height: 1000px;
}
.main-block2 {
  display: grid;
  grid-template-columns: 640px auto;
  grid-template-rows: 1280px;
}
.circle {
  position: relative;
  width: 409px;
  height: 409px;
  left: 56px;
  top: 144px;
  border-radius: 50%;
  border: 2.5px solid #000000;
}
.square {
  position: absolute;
  width: 37px;
  height: 37px;
  left: 284px;
  top: 279px;
  background: #904D30;
}
.main-block2-list {
  max-width: 824px;
  margin-top: 108px;
  padding-right: 50px;
}
.main-block2-item {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 36px;
  color: #000000;
  list-style-type: square
}
li.main-block2-item:not(:last-child) { 
  margin-bottom: 35px;  
}
.main-block2-item ::before {
  width: 14px;
  height: 14px;
  left: 20px;
  top: 20px;
  background: #000000;
}




