@font-face {
    font-family: "Kharkiv Tone"; 
    src: url("../../fonts/KharkivTone.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
.wrapper {
    max-width: 2100px;
    margin: 0 auto;
}
.wrap {
    max-width: 1560px;
    margin: 0 auto;
}
.jury-mazo {
    margin-top: 105px;
    display: flex;
    flex-direction: column;
}
.jury-mazo-tittle {
    display: flex;
    justify-content: flex-start;
}
.jury-mazo-logo {
    padding-left: 60px;
}
.jury-mazo-name {
    position: relative;
    padding-left: 50px;
    font-family: 'Kharkiv Tone';
    font-style: normal;
    font-weight: 400;
    font-size: 69px;
    line-height: 146.52%;
    color: #000000;
    width: 600px;
}
.jury-mazo-name1 {
    position: absolute;
    bottom: 0px;
    left:0px;
}
.jury-mazo-line {
    border: 2.5px solid #000000;
    margin-bottom: 120px;
    margin-left: 85px;
    width: 680px;
}
.jury-mazo-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.jury-mazo-main-foto {
    position: relative;
    width: 560px;
    height: 560px;
    border-radius: 100%;
    background-image: linear-gradient(#904D30, #FFF, #904D30);
    z-index: -2;
}
.jury-mazo-main-foto-circle {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 555px;
    height: 555px;
    border-radius: 100%;
    background: #ffffffff;
    z-index: -1;
}
.jury-mazo-main-foto-circle::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 480px;
    background: url(../../img/jury_mazo.png);
    border-radius: 100%;
    z-index: 1;
}
.jury-mazo-main-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 124.52%;
    color: #000000;
    padding-left: 70px;
    padding-right: 70px;
    width: 950px;
}
.mazo-site-link {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    margin-bottom: 100px;
    padding-right: 50px;
    text-transform: uppercase;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 124.52%;
    color: #000000;
}

/* Gilduk css */

.jury-gilduk-line {
    border: 2.5px solid #000000;
    margin-bottom: 120px;
    max-width: 75%;
}
.gilduk {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.gilduk-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 950px;
}
.gilduk-text-name {
    font-family: 'Kharkiv Tone';
    font-style: normal;
    font-weight: 400;
    font-size: 69px;
    line-height: 146.52%;
    color: #000000;
    padding-top: 270px;
    padding-bottom: 105px;
}
.gilduk-text-info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 124.52%;
    color: #000000;
}
.gilduk-foto {
    position: relative;
    width: 560px;
    height: 560px;
    border-radius: 100%;
    background-image: linear-gradient(#904D30, #FFF, #904D30);
    z-index: -2;
    margin-bottom: 265px;
}
.gilduk-foto-circle {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 555px;
    height: 555px;
    border-radius: 100%;
    background: #ffffffff;
    z-index: -1;
}
.gilduk-foto-circle::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 480px;
    background: url(../../img/jury_gilduk.png);
    border-radius: 100%;
    z-index: 1;
}
.jury-line-right {
    display: flex;
    justify-content: flex-end;
}
.jury-line-right-gradient {
  width: 55%;
  height: 9px;
  background: linear-gradient(90deg, #FFFFFF -0.68%, #000000 55.86%, #5C5C5C 98.36%);
}

/* Mischak css */

.mischak {
    margin-top: 260px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;

}
.mischak::after {
    position: absolute;
    content: "";
    width: 500px;
    height: 500px;
    width: 400px;
    height: 400px;
    left: -150px;
    top: -75px;
    background: url(../../img/jury_mischak_figure2.png) 100px 0px no-repeat, 
                url(../../img/jury_mischak_figure3.png) 0px 180px no-repeat;

}
.mischak-foto {
    position: relative;
    width: 560px;
    height: 560px;
    border-radius: 100%;
    background-image: linear-gradient(#904D30, #FFF, #904D30);
    z-index: -2;
    top: 210px;
    margin-bottom: 310px;
}
.mischak-foto-circle {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 555px;
    height: 555px;
    border-radius: 100%;
    background: #ffffffff;
    z-index: -1;
}
.mischak-foto-circle::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 480px;
    background: url(../../img/jury_mischak.png);
    border-radius: 100%;
    z-index: 1;
}
.mischak-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 900px;
}
.mischak-text-name {
    font-family: 'Kharkiv Tone';
    font-style: normal;
    font-weight: 400;
    font-size: 69px;
    line-height: 146.52%;
    color: #000000;
    margin-bottom: 105px;
}
.mischak-text-info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 124.52%;
    color: #000000;
}
.jury-line-left {
    display: flex;
    justify-content: flex-start;
}
.jury-line-left-gradient {
  width: 55%;
  height: 9px;
  background: linear-gradient(90deg, #FFFFFF -0.68%, #000000 55.86%, #5C5C5C 98.36%);
  transform: rotate(-180deg)
}

/* Dali css */

.dali {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 115px;
}
.dali::after {
    position: absolute;
    content: "";
    width: 1760px;
    height: 100px;
    left: 0px;
    top: 0px;
    background: url(../../img/jury_dali_figure1.png) 100% 0% no-repeat;
}
.dali-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 950px;
}
.dali-text-name {
    font-family: 'Kharkiv Tone';
    font-style: normal;
    font-weight: 400;
    font-size: 69px;
    line-height: 146.52%;
    color: #000000;
    padding-top: 270px;
    padding-bottom: 105px;
}
.dali-text-info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 124.52%;
    color: #000000;
}
.dali-foto {
    position: relative;
    width: 560px;
    height: 560px;
    border-radius: 100%;
    background-image: linear-gradient(#904D30, #FFF, #904D30);
    z-index: -2;
    margin-bottom: 160px;
}
.dali-foto-circle {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 555px;
    height: 555px;
    border-radius: 100%;
    background: #ffffffff;
    z-index: -1;
}
.dali-foto-circle::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 480px;
    background: url(../../img/jury_dali.png);
    border-radius: 100%;
    z-index: 1;
}
.jury-line-right {
    display: flex;
    justify-content: flex-end;
}
.jury-line-right-gradient-indent {
  width: 55%;
  height: 9px;
  padding-right: 120px;
  background: linear-gradient(90deg, #FFFFFF -0.68%, #000000 55.86%, #5C5C5C 98.36%);
}

/* Bushkov css */

.bushkov {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 120px;
    margin-top: 300px;
}
.bushkov-foto {
    position: relative;
    width: 560px;
    height: 560px;
    border-radius: 100%;
    background-image: linear-gradient(#904D30, #FFF, #904D30);
    z-index: -2;
    top: 90px;
    margin-bottom: 40px;
}
.bushkov-foto-circle {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 555px;
    height: 555px;
    border-radius: 100%;
    background: #ffffffff;
    z-index: -1;
}
.bushkov-foto-circle::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 480px;
    background: url(../../img/jury_bushkov.png);
    border-radius: 100%;
    z-index: 1;
}
.bushkov-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 850px;
}
.bushkov-text-name {
    font-family: 'Kharkiv Tone';
    font-style: normal;
    font-weight: 400;
    font-size: 69px;
    line-height: 146.52%;
    color: #000000;
    margin-bottom: 105px;
}
.bushkov-text-info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 124.52%;
    color: #000000;
}

/* Borozna css */

.pre-borozna-shape {
    display: flex;
    justify-content: flex-end;
    margin-top: 215px;
}
.pre-borozna-shape-circle {
    position: relative;
    width: 205px;
    height: 205px;
    border-radius: 50%;
    border: 2.5px solid #000000;
}
.pre-borozna-shape-circle::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 160px;
    background: url(../../img/jury_borozna_preshape.png);
    border-radius: 100%;
    z-index: 1;
}
.borozna-name-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    padding-right: 350px;
}
.borozna-name {
    font-family: 'Kharkiv Tone';
    font-style: normal;
    font-weight: 400;
    font-size: 69px;
    line-height: 146.52%;
    color: #000000;
}
.borozna {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 30px;
}
.borozna-foto {
    position: relative;
    width: 560px;
    height: 560px;
    background-image: linear-gradient(#904D30, #FFF, #904D30);
    z-index: -2;
    top: 80px;
}
.borozna-foto-circle {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 555px;
    height: 555px;
    background: #ffffffff;
    z-index: -1;
}
.borozna-foto-circle::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 480px;
    background: url(../../img/jury_borozna.png);
    z-index: 1;
}
.borozna-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 900px;
}
.borozna-text-info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 124.52%;
    color: #000000;
    margin-bottom: 180px;
}

/* Tarabuko css */

.tarabuko {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.tarabuko-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 950px;
    gap: 35px;
}
.tarabuko-text-name {
    font-family: 'Kharkiv Tone';
    font-style: normal;
    font-weight: 400;
    font-size: 69px;
    line-height: 146.52%;
    color: #000000;
    padding-top: 55px;
    padding-bottom: 105px;
}
.tarabuko-text-info {
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 124.52%;
    color: #000000;
    margin-bottom: 300px;
}
.tarabuko-text-info::after {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    top: 500px;
    left: -35px;
    background: #904D30;
}
.tarabuko-foto {
    position: relative;
    width: 560px;
    height: 560px;
    border-radius: 100%;
    background-image: linear-gradient(#904D30, #FFF, #904D30);
    z-index: -2;
    margin-bottom: 265px;
}
.tarabuko-foto-circle {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 555px;
    height: 555px;
    border-radius: 100%;
    background: #ffffffff;
    z-index: -1;
}
.tarabuko-foto-circle::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 480px;
    background: url(../../img/jury_tarabuko.png);
    border-radius: 100%;
    z-index: 1;
}

/* Duhan css */

.duhan-name {
    font-family: 'Kharkiv Tone';
    font-style: normal;
    font-weight: 400;
    font-size: 69px;
    line-height: 146.52%;
    color: #000000;
    padding-left: 350px;
}
.duhan {
    margin-top: 90px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 90px;
}
.duhan-foto {
    position: relative;
    width: 560px;
    height: 560px;
    border-radius: 100%;
    background-image: linear-gradient(#904D30, #FFF, #904D30);
    z-index: -2;
    top: -45px;
}
.duhan-foto-circle {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 555px;
    height: 555px;
    border-radius: 100%;
    background: #ffffffff;
    z-index: -1;
}
.duhan-foto-circle::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 480px;
    background: url(../../img/jury_duhan.png);
    border-radius: 100%;
    z-index: 1;
}
.duhan-text-info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 124.52%;
    color: #000000;
    max-width: 900px;
}

/* Vasileva css */

.vasileva {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 300px;
}
.vasileva-foto {
    position: relative;
    width: 560px;
    height: 560px;
    background-image: linear-gradient(#904D30, #FFF, #904D30);
    z-index: -2;
    top: 20px;
    margin-bottom: 120px;
}
.vasileva-foto-square {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 555px;
    height: 555px;
    background: #ffffffff;
    z-index: -1;
}
.vasileva-foto-square::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 480px;
    background: url(../../img/jury_vasileva.png);
    z-index: 1;
}
.vasileva-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 900px;
}
.vasileva-text-name {
    font-family: 'Kharkiv Tone';
    font-style: normal;
    font-weight: 400;
    font-size: 69px;
    line-height: 146.52%;
    color: #000000;
    margin-bottom: 90px;
}
.vasileva-text-info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 124.52%;
    color: #000000;
}
.post-vasileva-shapes {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.post-vasileva-shape1 {
    position: relative;
    width: 206px;
    height: 206px;
    border: 2.5px solid #000000;
    margin-bottom: 240px;
}
.post-vasileva-shape1::before {
    position: absolute;
    content: '';
    width: 65px;
    height: 65px;
    left: -260px;
    top: -35px;
    background: linear-gradient(180deg, rgba(26, 26, 26, 0.91) 0%, #823412 100%);
    transform: rotate(-36.45deg);
}
.post-vasileva-shape2 {
    position: absolute;
    content: '';
    width: 86px;
    height: 86px;
    top: -20%;
    right: -20%;
    background: linear-gradient(180deg, #904D30 0%, rgba(0, 0, 0, 0) 100%);
}

/* Waterhu css */

.waterhu {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}
.waterhu-foto {
    position: relative;
    width: 560px;
    height: 560px;
    border-radius: 100%;
    background-image: linear-gradient(#904D30, #FFF, #904D30);
    z-index: -2;
    top: 115px;
    margin-bottom: 310px;
}
.waterhu-foto-circle {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 555px;
    height: 555px;
    border-radius: 100%;
    background: #ffffffff;
    z-index: -1;
}
.waterhu-foto-circle::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 480px;
    background: url(../../img/jury_waterhu.png);
    border-radius: 100%;
    z-index: 1;
}
.waterhu-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 900px;
}
.waterhu-text-name {
    font-family: 'Kharkiv Tone';
    font-style: normal;
    font-weight: 400;
    font-size: 69px;
    line-height: 146.52%;
    color: #000000;
    margin-bottom: 110px;
}
.waterhu-text-info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 124.52%;
    color: #000000;
}

/* Atrashkevich css */

.pre-atrashkevich-shape {
    display: flex;
    justify-content: flex-end;
    margin-top: 215px;
}
.pre-atrashkevich-shape-square {
    width: 51px;
    height: 51px;
    background: #904D30;
    margin-right: 280px;
    margin-bottom: 35px;
}
.atrashkevich-name-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    padding-right: 350px;
}
.atrashkevich-name {
    font-family: 'Kharkiv Tone';
    font-style: normal;
    font-weight: 400;
    font-size: 69px;
    line-height: 146.52%;
    color: #000000;
}
.atrashkevich {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 120px;
    margin-top: 30px;
    margin-bottom: 180px;
}
.atrashkevich-foto {
    position: relative;
    width: 560px;
    height: 560px;
    background-image: linear-gradient(#904D30, #FFF, #904D30);
    z-index: -2;
    top: 0px;
}
.atrashkevich-foto-square {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 555px;
    height: 555px;
    background: #ffffffff;
    z-index: -1;
}
.atrashkevich-foto-square::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 480px;
    background: url(../../img/jury_atrasherich.png);
    z-index: 1;
}
.atrashkevich-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 850px;
}
.atrashkevich-text-info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 124.52%;
    color: #000000;
    padding-top: 30px;
}

/* Tarabuko css */

.pre-voitik-shapes {
    display: flex;
    justify-content: left;
    margin-left: 170px;
    margin-bottom: 150px;
}
.pre-voitik-shape1 {
    position: relative;
    width: 205px;
    height: 205px;
    border: 2.5px solid #000000;
}
.pre-voitik-shape1::before {
    position: absolute;
    content: '';
    width: 65px;
    height: 65px;
    left: 450px;
    top: 130px;
    background: linear-gradient(180deg, rgba(26, 26, 26, 0.91) 0%, #823412 100%);
    transform: rotate(-36.45deg);
}
.pre-voitik-shape2 {
    position: absolute;
    content: '';
    width: 86px;
    height: 86px;
    top: 75%;
    right: 75%;
    background: linear-gradient(180deg, #904D30 0%, rgba(0, 0, 0, 0) 100%);
}
.voitik {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.voitik-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 950px;
    gap: 35px;
}
.voitik-text-name {
    font-family: 'Kharkiv Tone';
    font-style: normal;
    font-weight: 400;
    font-size: 69px;
    line-height: 146.52%;
    color: #000000;
    padding-top: 55px;
    padding-bottom: 80px;
}
.voitik-text-info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 124.52%;
    color: #000000;
    margin-bottom: 300px;
}
.voitik-foto {
    position: relative;
    width: 560px;
    height: 560px;
    border-radius: 100%;
    background-image: linear-gradient(#904D30, #FFF, #904D30);
    z-index: -2;
    margin-bottom: 265px;
    top: -200px;
}
.voitik-foto-circle {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 555px;
    height: 555px;
    border-radius: 100%;
    background: #ffffffff;
    z-index: -1;
}
.voitik-foto-circle::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 480px;
    background: url(../../img/jury_voitik.png);
    border-radius: 100%;
    z-index: 1;
}


/* Kuznecov css */

.kuznecov-background {
    display: flex;
    justify-content: flex-start;
}
.kuznecov-back {
    background: url(../../img/jury_kuznecov_figure.png);
    background-repeat: no-repeat;
    width: 375px;
    height: 214px;
}
.kuznecov-name {
    font-family: 'Kharkiv Tone';
    font-style: normal;
    font-weight: 400;
    font-size: 69px;
    line-height: 146.52%;
    color: #000000;
    padding-left: 400px;
    padding-top: 50px;
    margin-bottom: 150px;
}
.kuznecov {
    margin-top: 0px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 90px;
}
.kuznecov-foto {
    position: relative;
    width: 560px;
    height: 560px;
    border-radius: 100%;
    background-image: linear-gradient(#904D30, #FFF, #904D30);
    z-index: -2;
    top: 0px;
    margin-bottom: 310px;
}
.kuznecov-foto-circle {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 555px;
    height: 555px;
    border-radius: 100%;
    background: #ffffffff;
    z-index: -1;
}
.kuznecov-foto-circle::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 480px;
    background: url(../../img/jury_kuznecov.png);
    border-radius: 100%;
    z-index: 1;
}
.kuznecov-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 900px;
}
.kuznecov-text-info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 124.52%;
    color: #000000;
}


/* macaberi css */

.macaberi {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}
.macaberi-foto {
    position: relative;
    width: 560px;
    height: 560px;
    border-radius: 100%;
    background-image: linear-gradient(#904D30, #FFF, #904D30);
    z-index: -2;
    top: 100px;
}
.macaberi-foto-circle {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 555px;
    height: 555px;
    border-radius: 100%;
    background: #ffffffff;
    z-index: -1;
}
.macaberi-foto-circle::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 480px;
    background: url(../../img/jury_macabery.png);
    border-radius: 100%;
    z-index: 1;
}
.macaberi-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 850px;
}
.macaberi-text-name {
    font-family: 'Kharkiv Tone';
    font-style: normal;
    font-weight: 400;
    font-size: 69px;
    line-height: 146.52%;
    color: #000000;
    margin-bottom: 100px;
}
.macaberi-text-info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 124.52%;
    color: #000000;
    margin-bottom: 300px;
}


/* Solertinski css */

.solertin {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 300px;
}
.solertin-foto {
    position: relative;
    width: 560px;
    height: 560px;
    background-image: linear-gradient(#904D30, #FFF, #904D30);
    z-index: -2;
    top: 20px;
    margin-bottom: 120px;
}
.solertin-foto-square {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 555px;
    height: 555px;
    background: #ffffffff;
    z-index: -1;
}
.solertin-foto-square::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 480px;
    background: url(../../img/jury_solertinski.png);
    z-index: 1;
}
.solertin-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 900px;
}
.solertin-text-name {
    font-family: 'Kharkiv Tone';
    font-style: normal;
    font-weight: 400;
    font-size: 69px;
    line-height: 146.52%;
    color: #000000;
    margin-bottom: 90px;
}
.solertin-text-info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 124.52%;
    color: #000000;
}
.post-solertin-shapes {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.post-solertin-shape1 {
    position: relative;
    width: 206px;
    height: 206px;
    border: 2.5px solid #000000;
    margin-bottom: 240px;
}
.post-solertin-shape1::before {
    position: absolute;
    content: '';
    width: 65px;
    height: 65px;
    left: -260px;
    top: -35px;
    background: linear-gradient(180deg, rgba(26, 26, 26, 0.91) 0%, #823412 100%);
    transform: rotate(-36.45deg);
}
.post-solertin-shape2 {
    position: absolute;
    content: '';
    width: 86px;
    height: 86px;
    top: -20%;
    right: -20%;
    background: linear-gradient(180deg, #904D30 0%, rgba(0, 0, 0, 0) 100%);
}
.line-after-solertin {
    border: 2.5px solid #000000;
    margin-bottom: 90px;
}
.logo-post-solertin {
    background: url(../../img/jury_logo_after_solertin.png);
    height: 220px;
    width: 340px;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 130px;
}
.wrap-jury-logo {
    display: flex;
    justify-content: flex-end;
}








