@font-face {
    font-family: "Kharkiv Tone"; 
    src: url("../../fonts/KharkivTone.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
.wrapper {
    max-width: 2100px;
    margin: 0 auto;
    overflow: hidden;
}