@import url('https://rsms.me/inter/inter.css');

html { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;;
  font-size: 100%;
}

.font-kharkiv-tone {
  font-family: Kharkiv Tone, Verdana, Geneva, Tahoma, sans-serif;
}
